<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
</head>
<body>
    <h1>Sobre Abapuru</h1>
<p>
   ABAPURU
Essa tela foi batizada de Abaporu por Oswald de Andrade em uma<br>
junção dos vocábulos tupis aba (homem), pur (gente) e ú (comer).<br>
Sendo assim, seu significado é "homem que come gente" ou "homem<br>
antropófago". Nesse trabalho, é retratada uma figura humana sentada<br>
numa posição pensativa em uma paisagem árida e ensolarada.
</p>
</body>
</html>
